<div class="container">
  <div class="card">
    <div class="card-header">Digital Assignment - Posts & Comments</div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          Please select a user to find their comments:
        </div>
      </div>
      <div class="row" *ngIf="isLoading">
        <div class="col-12">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="row mt-4" *ngIf="!isLoading">
        <div class="col-12">
          <ul class="list-inline" *ngIf="users && users.length != 0">
            <li class="list-inline-item" *ngFor="let user of users">
              <a href="#" class="btn btn-mybutton" role="button" (click)="fetchPosts(user)">{{user.fistName}}</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" *ngIf="isPostLoading">
        <div class="col-12">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="row mt-4" *ngIf="!isPostLoading && dispalyedPosts && dispalyedPosts.length > 0">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              The comments of {{selectedUser.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="accordion" id="accordionExample">
                <div class="card" *ngFor="let post of dispalyedPosts">
                  <div class="card-header" [id]="'heading'+post.id">
                    <div class="row">
                      <div class="col-8">
                        <div class="row">
                          <div class="col-12">
                            <span>Title: </span> {{post.title}}
                          </div>
                          <div class="col-12">
                            <span>body: </span>{{post.body}}
                          </div>
                        </div>
                      </div>
                      <div class="col-4">
                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                [attr.data-target]="'#collapse'+post.id" aria-expanded="true"
                                [attr.aria-controls]="'collapse'+post.id" (click)="loadAllComment(post)">
                          <i class="fa fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div [id]="'collapse'+post.id" class="collapse show" [attr.aria-labelledby]="'heading'+post.id"
                       data-parent="#accordionExample">
                    <div class="card-body" *ngIf="selectedPost && selectedPost.id == post.id">
                      <div class="col-12" *ngIf="isCommentLoading">
                        <div class="spinner-border" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                      <div class="col-12">
                        <ul class="list-group" *ngIf="comments && comments.length != 0">
                          <li class="list-group-item" *ngFor="let comment of comments">
                            {{comment.body}}
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-6" *ngIf="dispalyedPosts.length != actualPosts.length">
            <div class="col-4">
              <a href="#" class="btn btn-mybutton" role="button" (click)="loadAllPost()">Load All ...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
