.btn-mybutton {
  color: white;
  background-color: #005cbf;
  border-color: #cccccc;
}

.name:focus{
  background-color: orange;
  color: black;
}

.post {
  font-size: large;
  font-weight: bold;
}
